<!DOCTYPE html>
<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
    <hr>
    {# Service nom 1 #}
    <div class="service">
        <b><h1 id="prod_name" class="service_title">Cleaning service</h1></b>
        <div>
            <h1>Sign up for monthly regular house cleaning</h1>
            <p>Our certified cleaning crew visits your home once a week to keep it spic-n-span.</p>
            <p>Basic weekly cleaning is <b>10$ USD</b> and includes dusting, vacuuming, sweeping and mopping, and scrubbing.</p>
        </div>
        <div id="serv_description">
            <div class="serv_image">
                <img src="https://d1z3744m6z2h75.cloudfront.net/aws/fs/988/1841988_rBHyvJqrZY2ePG6M4CGroAvOcCuPsplsmdv6yRaHjCbhPjBDqN5mLRiEwlruyT1NDdIXCX6QwlsZlhUTt5vQDQ...jpg" alt="">
            </div>
            <div class="serv_choose">
                <b><h2>Regular house cleaning</h2></b>
                <label for="price">Enter the maximum amount you to pay each month</label>
                <b>$ </b><input type="number" id="price" name="price" min="10" max="40" size="10" ><b> USD</b>
                <p><b>*</b> - minimum price - <b>10$ USD</b> and maximum - <b>40$ USD</b></p>
            </div>
            <br>
                <div id="bill_button">
                    <div id="paypal-button-container-cleaning"></div>
                </div>
            <br>

        </div>
    </div>
    <hr>
    {# Service nom 2 #}
    <b><h1 class="service_title">Service #2</h1></b>

    <hr>
    {# Service nom 3 #}
    <b><h1 class="service_title">Service #3</h1></b>

    <hr>
    {# Service nom 4 #}
        <b><h1 class="service_title">Service #4</h1></b>

    <hr>
    {# Service nom 5 #}
</body>
