<!DOCTYPE html>
<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
    <h1>PRICE 10$</h1>
    <div id="paypal-button-container-subscribe"></div>
    <p>FIRST of ALL you need to create an account and THEN subscribe! </p>

    <a href="http://shadow.itguild.com.ua/node/1" id="href_for_subs">CONTENT FOR SUBS</a>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AfkVeeD9MOfjlToFUbTldM_YraPd3qeQp81koUdidBzh9nf9yBWwKpsHhbbBId2kBbeV3erHXf33tvPC&currency=USD"></script>
</body>


